/*reset*/
img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/
/*: Add the CSS needed to style the form*/
#new-form label {
  display: block;
}
input, textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid lightgreen;
  margin-top: 5%;
  font-size: 2em;
}
textarea {
  border: 3px solid lightgreen;
  font-size: 1em;
}
